{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div id="canvas-container">
    <canvas id="canvas" width="670" height="502"style="margin:100px;"></canvas>
<!--       <canvas id="canvas" width="700" height="500"></canvas> -->
      <p>
        <button id="red">Red</button>
        <button id="green">Green</button>
        <button id="blue">Blue</button>
        <button id="orange">Orange</button>
      </p>
      <p>
        <button id="clear">Clear Canvas</button>
        <button id="fib">Fibonacci</button>
      </p>
  </div>

{% endblock %}
