body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: black;
}

#canvas-container {
   width: 100%;
   text-align: center;
   position: relative;
   margin-top: -250px;
   transform: translateY(50%);

}

canvas {
   display: inline;
}
button {
  width: 100px;
}
#red {
  background-color: red;
}
#green {
  background-color: green;
}
#blue {
  background-color: blue;
}
#orange {
  background-color: orange;
}
